
    body {
      margin: 0;
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      min-height: 100vh;
    }

    main {
      flex-grow: 1;

      margin: auto;
      width: 50ch;
    }
    
    header {
      background: rebeccapurple;
      padding: 1em;
      color: white;
      text-align: center;
    }

    footer {
      background: grey;
      color: white;
      text-align: center;
      padding: 1em;
    }

  