@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Nunito&display=swap");
    

body {
      margin: auto;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      min-height: 100vh;
    }

    main {
  display: flex;  
  margin: auto;
  width: 100ch;
  height: 100vh;
  justify-content: flex-end;
  align-items: stretch;
  background-size: cover;
  background-position: center;
  background-color: hsl(330deg, 95%, 85%);
  border: 5px solid white;

  background-image: linear-gradient(35deg, goldenrod 10%, transparent 75%),
    linear-gradient(180deg, lightseagreen 50%, transparent 75%),
    url("https://picsum.photos/id/1034/800/800");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
    
    
    header {
      background: skyblue;
      padding: 2 em;
      color: white;
      text-align: center;
    }

    h1 {
      display: flex;
     
      justify-content: center;
      font-size: 36px;
      color: black;
}
    footer {
      background: grey;
      color: white;
      text-align: center;
      padding: 1em;
      
    }

  
