
    body {
      margin: 0;
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      min-height: 100vh;
    }

    main {
      flex-grow: 1;

      margin: auto;
      width: 50ch;
      background-image:
    }
    
    header {
      background: skyblue;
      padding: 2 em;
      color: white;
      text-align: center;
    }

    h1 {
    font-size: 36px;
    color: black;

    footer {
      background: black;
      color: white;
      text-align: center;
      padding: 1em;
    }

  
